  <div class="container my-1 w-75">
    <div class="p-1">
      <div class="mb-3 row">
        <div class="col-3 align-self-center" id="shopDataContainer">
          <input id="name" type="text" disabled="disabled" class="form-control" value="{{shop.name}}" placeholder="Enter shop name" [(ngModel)]="name" name="name">
        </div>
        <div class="col">
          <button id="allowNameChange" class="btn btn-outline-dark m-1" (click)="toggleChangeName()">Change name</button>
          <button id="submitNameChange" class="btn btn-outline-success" disabled="disabled" (click)="submitNameChange()">Submit Changes</button>
        </div>
      </div>
      
    <table class="table">
      <thead>
        <tr>
          <th class="bg-dark text-white text-center" colspan="5"><i>Goods in shop</i></th>
        </tr>
        <tr class="align-self-center">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-light">
          <th scope="row">#</th>
          <td><input type="text" class="form-control" placeholder="Enter new product name" name="newProductName" [(ngModel)]="newProduct.name"></td>
          <td><input type="number" class="form-control" placeholder="Enter product price" step=".01" value="0.00" name="newProductPrice" [(ngModel)]="newProduct.price"></td>
          <td>
            <button class="btn btn-outline-success" (click)="createProduct()">Add</button>
            <button class="btn btn-outline-danger mx-1">Cancel</button>
          </td>
        </tr>
        <tr *ngFor="let product of shop.products; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{product.name}}</td>
          <td>{{product.price | currency:"EUR":"symbol"}}</td>
          <td>
            <button class="btn btn-outline-dark" (click)="openPopup(product)">Update</button>
            <button class="btn btn-outline-danger mx-1" (click)="removeProduct(product.id!)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{oldProductName}}</h4>
      </div>
      <div class="modal-body">

        <form>
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" class="form-control" placeholder="Enter product name" id="updateProductName" name="updateProductName" [(ngModel)]="selectedProduct.name">
            </div>
            <div class="mb-3">
              <label class="form-label">Shop</label>
              <select class="form-select" name="my-select" [(ngModel)]="selectedShop">
                <option *ngFor="let shop of allShops" [ngValue]="shop">
                    {{shop.name}}
                </option>
            </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Price</label>
                <input type="number" class="form-control" placeholder="Enter product price" step=".10" min="0" value="{{selectedProduct.price}}" id="newProductPrice" name="newProductPrice" [(ngModel)]="selectedProduct.price">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary" (click)="submitUpdate()">Update</button>
                <button type="button" class="btn btn-outline-danger" (click)="closePopup()">Cancel</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

