<div class="px-2">
    <h1>All Shops</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Shop name</th>
            <th scope="col">Number of goods</th>
            <th scope="col">Date Created</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shop of shops">
                <th scope="row">{{shop.id}}</th>
                <td>{{shop.name}}</td>
                <td>{{shop.products!.length}}</td>
                <td>{{shop.dateCreated}}</td>
                <td>
                    <button class="btn btn-outline-dark" [routerLink]="['/shop', shop.id]">Select</button>
                    <button class="btn btn-outline-dark mx-1">Update</button>
                    <button class="btn btn-outline-danger" [routerLink]="[]">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>